<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add New Show</title>


  {%load static%}
  <link rel="stylesheet" href="{% static 'css/add_show_style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>


  <div id="container">
    <a href="/shows">Go Back</a>
    <h1>Add A New Show</h1>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <form action="/shows/create" method="POST" class="form-group">
      {%csrf_token%}
      <label for="title" style="width: 250px;">Title</label>
      <input style="width: 500px; margin: 20px 0px;" type="text" name="title">


      <label for="network" style="width: 250px;">Network</label><label for="release_date" style="width: 250px;">Release Date</label>
      <input type="text" name="network" style="width: 250px; margin: 20px 0px;">
      <input type="date" name="release_date" style="width: 250px; margin: 20px 0px;">


      <p>Description</p>
      <textarea rows="4" cols="4" name="description" class="form-control" style="margin-bottom: 20px; width: 500px"></textarea>
      <button style="margin: auto;">Create</button>
    </form>
  </div>

</body>

</html>